

/* Start:/bitrix/templates/furniture_pale-blue/components/bitrix/news/.default/bitrix/news.detail/.default/style.css?1449902948111*/
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/templates/furniture_pale-blue/components/bitrix/news/.default/bitrix/news.detail/.default/style.css?1449902948111 */
