

/* Start:/bitrix/components/bitrix/map.google.system/templates/.default/style.css?144990043730*/
.bx-google-map {color: black;}
/* End */


/* Start:/bitrix/templates/.default/components/bitrix/main.feedback/my_form/style.min.css?1449926163251*/
div.mf-name,div.mf-email,div.mf-captcha,div.mf-message{width:80%;padding-bottom:.4em}div.mf-name input,div.mf-email input{width:60%}div.mf-message textarea{width:60%}span.mf-req{color:red}div.mf-ok-text{color:green;font-weight:bold;padding-bottom:1em}
/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?144990040251*/
font.errortext{color:red}font.notetext{color:green}
/* End */
/* /bitrix/components/bitrix/map.google.system/templates/.default/style.css?144990043730 */
/* /bitrix/templates/.default/components/bitrix/main.feedback/my_form/style.min.css?1449926163251 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?144990040251 */
