

/* Start:/bitrix/templates/business-casual/components/bitrix/news/my_news/bitrix/news.list/.default/style.css?1449921889150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/business-casual/components/bitrix/news/my_news/bitrix/news.list/.default/style.css?1449921889150 */
