

/* Start:/bitrix/templates/business-casual/components/bitrix/news/my_news/bitrix/news.detail/.default/style.css?1449921889155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/templates/business-casual/components/bitrix/news/my_news/bitrix/news.detail/.default/style.css?1449921889155 */
