
/* Start:/bitrix/templates/desktop_app/template_styles.css?1449900455215*/
html {-webkit-text-size-adjust:none; min-height:100%;}
body {padding: 0; margin:0; font-family:"Helvetica Neue", Helvetica, sans-serif; min-height:100%;}
a {font-size:12px; color:#1d54a2; text-decoration:underline;}
/* End */
