

/* Start:/bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1449900450150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/news/templates/.default/bitrix/news.list/.default/style.css?1449900450150 */
